<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'lottery/images/favicon.png' %}">
    <title>
        {% if title %} {{title}} {% else %} SWM LOTTERY {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/b5css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/mdb/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/lottery.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" type="image/x-icon" href="{% static 'lottery/images/favicon.png' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'lottery/images/swmlogo.svg' %}" alt="" class="img-fluid" style="height:50px;">
            </a>
            <ul class="navbar-nav ms-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link  text-white" href="{% url 'account_login' %}">Login</a>
                </li>
                <span class=" text-white pt-2 d-none d-sm-block">|</span>
                <li class="nav-item border-right border-4">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'account_signup' %}">Sign
                        Up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white">
                        <span style="font-size: 24px; color:#00ff00;">&#8358;{{user.profile.balance}}</span>
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:#00ff00" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                        <i class="bi bi-person text-light"
                            style=" font-size:20px"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' user.username %}">profile</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'initiate-payment' %}">deposit</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="bi bi-list text-white"
                        style="font-size: 35px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated and request.user.is_staff %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'admin_index' user.username %}">ADMIN</a>
                    </li>
                </ul>
                {% endif %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'all-games' %}">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bonus' %}">Bonuses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'result' %}">Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <b>{{ message }}</b>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% block sidebar %} {% endblock sidebar %} {% block content %} {% endblock content %}
    <footer class="bg-gradient bg-success text-white py-4">
        <div class="container">
            <article class="row">
                <div class="col-12 col-md-6">
                    <div class=" pb-4">
                        <img src="{% static 'lottery/images/swmlogo.svg' %}" alt="" class="img-fluid" style="height:50px;">
                    </div>
                    <p>
                        SWM LOTTERY GLOBAL CONCEPT LTD, aka "SWM Lottery" is a business in Nigeria set up in April 2022 with the intention of engaging in lotto service. SWM is legally registered and regulated by the National Lotteries Regulation Commission, and with other necessary
                        bodies. It's main office is located in Kano with other branches coming soon.
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <h3 class="pb-2">Quick Links</h3>
                    <div class="ps-4">
                        <p>
                            <a href="#" class="text-light">
                                Login
                            </a>
                        </p>
                        <p>
                            <a href="#" class="text-light">
                                Results
                            </a>
                        </p>
                        <p>
                            <a href="#" class="text-light">
                                Bonuses
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <h3>Follow Us @</h3>
                    <p class="">
                        <span class="pe-4">
                            <a href="https://www.instagram.com/swm.lottery/">
                                <img src="{% static 'lottery/images/instagram_icon.png' %}"
                                    alt="instagram icon" class="img-fluid"
                                    style="height: 40px; width: 40px;">
                            </a>
                        </span>
                        <span>
                            <a href="https://web.facebook.com/SWM-Lottery-1105757817073641"
                                target="_blank">
                                <img src="{% static 'lottery/images/facebook_icon.png' %}"
                                    alt="instagram icon" class="img-fluid"
                                    style="height: 40px; width: 40px;">
                            </a>
                        </span>
                    </p>
                </div>
            </article>

        </div>
    </footer>
    <footer class="bg-success text-white border-top">
        <div class="container">
            <article class="row">
                <div class="col-12 py-4 px-2 text-center">
                    <p class="p-0">
                        <span>
                            &copy; copy right all rights reserved. | SWM lottery
                        </span>
                        <span class=" text-success">|</span>
                        <span class=" text-muted">
                            <a href="{% url 'terms' %}" style="color: #00ff00;">
                                Terms & Conditions
                            </a> |
                            <a href="https://www.termsfeed.com/live/da29eabb-cdd3-4bbd-8a4c-337df6daebc7"
                                target="_blank" class=" text-danger">
                                privacy policy
                            </a>
                        </span>
                    </p>
                    <p>
                        Developed by | <b style="color: #00ff00;">Ballad-tech</b> softwares.
                    </p>
                </div>
            </article>
        </div>
    </footer>

    <script src="{% static 'lottery/js/b5js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'lottery/js/b5js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lottery/js/mdb/mdb.min.js' %}">
    </script>

    <script>
        $(".reset").click(function(e) {
            $(".draw").removeAttr("checked")
            $(".draw").closest('label').removeClass("highlight-sp").removeClass("checkFaded");
            $(".draw").not(":checked").removeAttr('disabled');

            $(".draw").closest('label').removeClass("highlight");
        });
    </script>

    <!-- <script src="{% static 'lottery/js/countdown.js' %}"></script> -->

    <script>
        let limit = 6
        $('.test').click(function(e) {
            $(this).closest('label').toggleClass("highlight");
            if ($('.test:checked').length == limit) {
                $(".test").not(":checked").attr("disabled", true)
                var res = $(".test").not(":checked").closest('label').addClass("checkFaded")
                    // console.log(res)
            } else {
                $(".test").not(":checked").removeAttr('disabled');
                var res = $(".test").not(":checked").closest('label').removeClass("checkFaded")
            }
        });

        $('.test2').click(function(e) {
            $(this).closest('label').toggleClass("highlight-sp");
            if ($('.test2:checked').length == 1) {
                $(".test2").not(":checked").attr("disabled", true);
                $(".test2").not(":checked").closest('label').addClass("checkFaded")
            } else {
                $(".test2").not(":checked").removeAttr('disabled')
                $(".test2").not(":checked").closest('label').removeClass("checkFaded")
            }
        })
    </script>



    <!-- bronze ajax -->
    <script>
        $(document).ready(function() {
            function getRemainingTime(endtime) {
                now = new Date()
                const total = new Date(endtime) - now;
                var days = Math.floor(total / (1000 * 60 * 60 * 24));
                var hours = Math.floor((total / (1000 * 60 * 60)) % 24);
                var min = Math.floor(((total / 1000 / 60)) % 60);
                var sec = Math.floor(((total / 1000)) % 60);

                return {
                    total,
                    days,
                    hours,
                    min,
                    sec
                }
            }


            var f = function() {
                $.ajax({
                    url: "{% url 'reset_bronze' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{b_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        // location.reload()
                        data = response['enddate']
                        initializeClock('btimer', data, f);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            var f1 = function() {
                $.ajax({
                    url: "{% url 'reset_silver' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{s_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        data = response['enddate']
                        initializeClock('stimer', data, f1);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            var f2 = function() {
                $.ajax({
                    url: "{% url 'reset_gold' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{g_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        data = response['enddate']
                        initializeClock('gtimer', data, f2);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            var f3 = function() {
                $.ajax({
                    url: "{% url 'reset_platinum' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{p_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        data = response['enddate']
                        initializeClock('ptimer', data, f3);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            var f4 = function() {
                $.ajax({
                    url: "{% url 'reset_jackpot' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{j_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        data = response['enddate']
                        initializeClock('jtimer', data, f4);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            var f5 = function() {
                $.ajax({
                    url: "{% url 'reset_megawin' %}",
                    type: 'POST',
                    data: {
                        'draw_id': "{{m_data.id}}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function(response) {
                        data = response['enddate']
                        initializeClock('mtimer', data, f5);
                    },
                    error: function(rs, e) {
                        $.ajax(this);
                    },
                });
            };

            function initializeClock(id, endtime, func) {
                const clock = document.getElementById(id);
                // const day = clock.querySelector('.days');
                // const hrs = clock.querySelector('.hrs');
                if (id == 'btimer') {
                    var min = clock.querySelector('.min');
                    var sec = clock.querySelector('.sec');
                } else if (id == 'stimer' || id == 'jtimer' || id == 'mtimer') {
                    var hrs = clock.querySelector('.hrs');
                    var min = clock.querySelector('.min');
                    var sec = clock.querySelector('.sec');
                } else if (id == 'gtimer' || id == 'ptimer') {
                    var days = clock.querySelector('.days');
                    var hrs = clock.querySelector('.hrs');
                    var min = clock.querySelector('.min');
                    var sec = clock.querySelector('.sec');
                }

                function updateClock() {
                    const t = getRemainingTime(endtime);
                    // day.innerHTML = ('0' + t.days).slice(-2);
                    if (id == 'btimer') {
                        min.innerHTML = t.min;
                        sec.innerHTML = ('0' + t.sec).slice(-2);
                    } else if (id == 'stimer' || id == 'jtimer' || id == 'mtimer') {
                        hrs.innerHTML = t.hours;
                        min.innerHTML = t.min;
                        sec.innerHTML = ('0' + t.sec).slice(-2);
                    } else if (id == 'gtimer' || id == 'ptimer') {
                        days.innerHTML = t.days;
                        hrs.innerHTML = t.hours;
                        min.innerHTML = t.min;
                        sec.innerHTML = ('0' + t.sec).slice(-2);
                    }
                    if (t.total <= 0) {
                        func();
                        clearInterval(timeinterval)
                    }
                }
                updateClock();
                var timeinterval = setInterval(updateClock, 1000);
            }

            initializeClock('btimer', "{{b_data.enddate.isoformat}}", f);
            initializeClock('stimer', "{{s_data.enddate.isoformat}}", f1);
            initializeClock('gtimer', "{{g_data.enddate.isoformat}}", f2);
            initializeClock('ptimer', "{{p_data.enddate.isoformat}}", f3);
            initializeClock('jtimer', "{{j_data.enddate.isoformat}}", f4);
            initializeClock('mtimer', "{{m_data.enddate.isoformat}}", f5);
        });
    </script>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        /**** javascript code for aos file ****/
        AOS.init({
            delay: 0,
            duration: 800,
            easing: 'ease-in-sine',
        });
    </script>

</body>

</html>