{% extends 'lottery/base.html' %} {% load crispy_forms_tags %}{% load static %} {% block content %}
<section class="my-5">
    <div class="container">
        <section class="row py-3 px-2 ms-5 ">
            <article class="col-12 col-sm-8 mx-auto d-sm-flex">
                {% if draw.type == 'platinum' %}
                <img src=" {% static 'lottery/images/platinum.png' %} " class="img-fluid" alt=" " style="height: 120px; width:120px; transform: translateX(-70px);">
                <div class=" align-self-center">
                    <h1>SWM PLATINUM LOTTERY</h1>
                    <p class=" text-muted ">Draw every 1 Week</p>
                </div>
                {% elif draw.type == 'gold' %}
                <img src=" {% static 'lottery/images/gold.png' %} " class="img-fluid" alt=" " style="height: 120px; width:120px; transform: translateX(-70px);">
                <div class=" align-self-center">
                    <h1>SWM GOLD LOTTERY</h1>
                    <p class=" text-muted ">Draw every 72 Hours</p>
                </div>
                {% elif draw.type == 'bronze' %}
                <img src=" {% static 'lottery/images/bronze.png' %} " class="img-fluid" alt=" " style="height: 120px; width:120px; transform: translateX(-70px);">
                <div class=" align-self-center">
                    <h1>SWM BRONZE LOTTERY</h1>
                    <p class=" text-muted ">Draw every 1 Hour</p>
                </div>
                {% elif draw.type == 'silver' %}
                <img src=" {% static 'lottery/images/silver.png' %} " class="img-fluid" alt=" " style="height: 120px; width:120px; transform: translateX(-70px);">
                <div class=" align-self-center">
                    <h1>SWM SILVER LOTTERY</h1>
                    <p class=" text-muted ">Draw every 24 Hours</p>
                </div>
                {% endif %}
            </article>

        </section>
        <section class="row">
            <article class="col-12 col-md-8 mx-auto">
                <div>
                    <form action="" method="POST" class="pt-4">
                        <p>
                            <button class=" btn btn-success rounded-9" type="submit">
                                Submit Numbers
                            </button>
                            <button class=" btn btn-dark rounded-circle" type="reset">
                                Clear
                            </button>
                        </p>
                        {% csrf_token %} {% for field in form %}
                        <!-- <div>
                            <h3 class=" text-success">{{field.label}}</h3>
                        </div> -->
                        {% for choice in field %}
                        <div class="form-check form-check-inline m-0 p-1">
                            {{choice}}
                        </div>
                        {% endfor %}
                        <br />
                        <hr /> {% endfor %}
                    </form>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock content %}