{% extends 'lottery/base.html' %} {% load static %} {% block content %}

<section class=" py-5">
    <div class="container">

        <section class="row border border-success py-3 px-2 mx-5 my-3 ">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/jackpot.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM JACKPOT</h1>
                <p class=" text-muted ">Draw every 3 hours</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' j_data.draw.type j_data.id %}" class=" btn btn-lg btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>

        <section class="row border border-success py-3 px-2 mx-5 my-3">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/megawin.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM MEGAWIN</h1>
                <p class=" text-muted ">Draw every 6 hours</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' m_data.draw.type m_data.id %}" class=" btn btn-lg btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>

        <section class="row border py-3 px-2 mx-5 my-3">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/gold.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM GOLD LOTTERY</h1>
                <p class=" text-muted ">Draw every 3 days</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' g_data.draw.type g_data.id %}" class=" btn btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>

        <section class="row border py-3 px-2 mx-5 my-3">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/bronze.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM BRONZE LOTTERY</h1>
                <p class=" text-muted ">Draw every 1 Hour</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' b_data.draw.type b_data.id %}" class=" btn btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>

        <section class="row border py-3 px-2 mx-5 my-3">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/platinum.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM PLATINUM LOTTERY</h1>
                <p class=" text-muted ">Draw every week</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' p_data.draw.type p_data.id %}" class=" btn btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>

        <section class="row border py-3 px-2 mx-5 my-3">
            <article class="col-12 col-sm-3">
                <img src=" {% static 'lottery/images/silver.png' %} " class="img-fluid game_image" alt=" ">
            </article>
            <article class="col-12 col-sm-6 align-self-center">
                <h1>SWM SILVER LOTTERY</h1>
                <p class=" text-muted ">Draw every 24 hors.</p>
            </article>
            <article class="col-12 col-sm-3 align-self-center">
                <div class="pt-3 ">
                    <a href="{% url 'pick' s_data.draw.type s_data.id %}" class=" btn btn-success rounded-9">
                        Play Now
                    </a>
                </div>
            </article>
        </section>
    </div>
</section>


<section class=" pb-4">
    <div class="container ">
        <section class="row ">
            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/bronze.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Bronze</span>
                        <h1>
                            <span style="color: green">&#8358;</span>100,000
                        </h1>
                        {% if b_data %}
                        <p>
                            {% include "lottery/bronze_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' b_data.draw.type b_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/gold.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Gold</span>
                        <h1 class=" text-success"><span style="color: green">&#8358;</span>10,000,000
                        </h1>
                        {% if g_data %}
                        <p>
                            {% include "lottery/gold_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' g_data.draw.type g_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/silver.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Silver</span>
                        <h1 class=" text-success"><span style="color: lightgreen">&#8358;</span>1,000,000
                        </h1>
                        {% if s_data %}
                        <p>
                            {% include "lottery/silver_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' s_data.draw.type s_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/platinum.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Platinum</span>
                        <h1><span style="color: green">&#8358;</span>100,000,000
                        </h1>
                        {% if p_data %}
                        <p>
                            {% include "lottery/platinum_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' p_data.draw.type p_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/jackpot.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Jackpot</span>
                        <h1 class=" text-success"><span style="color: lightgreen">&#8358;</span>15,000,000
                        </h1>
                        {% if p_data %}
                        <p>
                            {% include "lottery/jackpot_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' j_data.draw.type j_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-12 col-sm-6 pb-4">
                <div class="d-flex bg-light p-2 p-sm-3 justify-content-around shadow-sm">
                    <div>
                        <img src=" {% static 'lottery/images/megawin.png' %} " class="img-fluid ball_image" alt=" ">
                    </div>
                    <div class=" align-self-center">
                        <span>SWM Megawin</span>
                        <h1 class=" text-success"><span style="color: lightgreen">&#8358;</span>30,000,000
                        </h1>
                        {% if p_data %}
                        <p>
                            {% include "lottery/mega_timer.html" %}
                        </p>
                        {% endif %}
                        <div class="pt-3">
                            <a href="{% url 'pick' m_data.draw.type m_data.id %}" class=" btn btn-success rounded-9">
                                Play Now
                            </a>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>
</section>

{% endblock content %}