{% extends 'lottery/base.html' %} {% load crispy_forms_tags %}{% load static %} {% block content %}

<div class=" px-2 py-5 container">
    <div class=" row pb-5">
        <div class=" col-12 py-2" style=" background-color: #F5F5F5; color: black;">
            <h2>
                <b>Our Terms & Conditions</b>
                </h1>
        </div>
    </div>
    <div class=" row">
        <div class=" col-12 pb-3">
            <h3 class=" py-2" style="color: black; font-weight: 100;">
                Please do read the terms and conditions carefully before using our website. The terms and conditions are subjected to review and upgrading at any time. Introduction:
            </h3>
        </div>
    </div>
    <div class=" row">
        <div class=" col-12">
            <h6>The validity of the terms and conditions if for all the betting games presented by SWM Lottery (a company legally and duly Incorporated under the laws of the Federal Republic of Nigeria). It is legally registered. By visiting the website and
                registering on the website or player's account, it means that you have accepted a necessary condition that regulate the terms of use, and in extension accepting the:</h6>
            <div class=" col-12 pt-1">
                <ol type="a" class=" list-group">
                    <li>General terms and conditions</li>
                    <li>The privacy policy</li>
                    <li>General lottery policy</li>
                    <li>Betting rules etc.</li>
                </ol>
            </div>

            <div class=" col-12 pt-4">
                <ol type="1">
                    <li>Conditions of Service Utilization or Usage:
                        <p>Opening a Lottery Account means you are within the capacity to partake in our games.</p>
                    </li>
                    <li>SWM Lottery cannot be held accountable for congestion on system or any undeliberate system error.
                    </li>
                    <li>The official timing for the game is West African timing WAT except for otherwise and expansion.
                    </li>
                    <li>Any other riles or term of use not apply to the terms and condition will be settled by the Nigerian Law governing lottery.
                    </li>
                </ol>
            </div>
        </div>

        <div class=" row">
            <div class=" col-12">
                <ol type="i">
                    <h4>Deposits and Withdrawals Policy:</h4>
                    <li>Our customers can deposit money only through the means provided by SWM lottery, and no amount is too small to be deposited.</li>
                    <li>Withdrawals are remitted only to the same registered account of our players.</li>
                    <li>In the case of any transaction with a third party, rigid verification will be conducted in accordance with the guiding rules of Monetary Policy of Nigerian Financial Institution and in compliance with the relevant Anti-Money Laundering.
                    </li>
                    <li>To make withdraws, you have to comply to every company and Bank Security Protocols required.</li>
                    <li>Withdrawals from betting accounts will be subjected to vigorous and strict auditing before been processed.</li>
                    <li>After deposit reversals or cancel of deposits, it will be difficult or impossible except of its documented and review by the sole administrator and permitted to be carried out.</li>


                    <h4 class=" pt-4">Winning Policy:</h4>
                    <p>Having selected four (4) of the winning numbers correctly, you are entitled for a refund of the stipulated amount played.</p>
                    <p>If you select the first five (5) winning numbers correctly, you are entitled to X10 of the stipulated amount played.</p>
                    <p>You are entitled to 70% of the stipulated winning amount played for when you have the Six (6) winning numbers correctly without the bonus number but if the Seven (7) winning numbers are selected correctly, you are entitled to 100%
                        of the stipulated winning amount.</p>

                    <h4 class=" pt-4">Use of Website (SWM)</h4>
                    <ol type="i">
                        <li>We are restricted to the usage of our services within the confine of our operation, not for any other purpose outside ours.</li>
                        <li>Every features and content seen on our website are protected by copyright in their entirety, in case of plagiarism we can sue to count.</li>
                        <li>SWM website is strictly under the control of the company and it has the legal right to regulate the site for maximal utilization.</li>
                        <li>In the place of involvement to our partners through their links, we are not responsible for any irregularities since we are not on control of the content of the site.</li>
                    </ol>
                    <h4 class=" pt-4">Advice from SWM Lottery:</h4>
                    <ol type="i">
                        <li>As a company, our sincere advice is for you to own properties for the sake of your family so as to come out of poverty.</li>
                        <li>We advice you to invest in yourselves, through attending seminars, stock exchange, opening of business ventures etc so as to maximize profit and also reinvest into our company. </li>
                    </ol>
                </ol>


            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>

{% endblock content %}