#hero_page {
    background-image: url("/static/lottery/images/banner.png");
    background-size: cover;
    min-height: 70vh;
    height: 70vh;
    width: 100%;
}

.btn-success {
    background: #006633;
}

.text-success {
    color: #006633 !important;
}

.bg-success {
    background: #006633 !important;
}