<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %} {{title}} {% else %} SWM LOTTERY {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/b5css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/mdb/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lottery/css/lottery.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'lottery/images/swmlogo.svg' %}" alt="" class="img-fluid" style="height:50px;">
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item border-right border-4">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <b>{{ message }}</b>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% block sidebar %} {% endblock sidebar %} {% block content %} {% endblock content %}
    <footer class="bg-success text-white">
        <div class="container">
            <article class="row">
                <div class="col-12 py-4 px-2 text-center">
                    <p class="p-0">
                        <span>
                            &copy;2022 SWM Lotto | All rights reserved.
                        </span>
                    </p>
                    <p>
                        Powered by | <span class=" text-warning">Ballad-tech</span> softwares.
                    </p>
                </div>
            </article>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'lottery/js/b5js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lottery/js/mdb/mdb.min.js' %}">
    </script>

    <!-- <script>
        $('label').click(function(e) {
            $(this).addClass('highlight').toggle("highlight", this.checked)
        })
    </script> -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        /**** javascript code for aos file ****/
        AOS.init({
            delay: 0,
            duration: 800,
            easing: 'ease-in-sine',
        });
    </script>

</body>

</html>