{% extends "account/base.html" %} {% load static %} {% load i18n %} {% load account socialaccount %} {% load crispy_forms_tags %}

<!-- {% block head_title %}{% trans "Sign In" %}{% endblock %} -->

{% block content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

{% get_providers as socialaccount_providers %}

<div class="container my-5" style="min-height: 65vh;">
    <div class="row">
        <div class="offset-md-2 col-12 col-md-8 mx-auto">
            <div class="shadow p-3 p-md-5 rounded-9 bg-success text-white">
                <div class=" text-center">
                    <img src="{% static 'lottery/images/swmlogo.svg' %}" alt="" class="img-fluid" style="height:50px;">
                    <p class="text-white-50 pt-3">{% trans "Log Into Your Account" %}
                    </p>
                </div>
                <br />
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                    <div class="text-end ">
                        <a class="button text-white" href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </div>
                    <div class="py-4 text-center">
                        <b>
                            <button
                                class="btn btn-light btn-lg primaryAction px-5 rounded-9 text-success"
                                type="submit">{% trans "Log In" %}</button>
                        </b>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        {% if socialaccount_providers %}
                        <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}
                        </p>

                        <div class="socialaccount_ballot">

                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>

                            <div class="login-or">{% trans 'or' %}</div>

                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}