{% extends 'lottery/base.html' %}{% load static %} {% block content %}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class=" text-center">
                    <i class="bi bi-person-circle text-success" style="font-size: 6em;"></i>
                    <div>
                        <nav class="nav flex-column">
                            <a class="nav-link active" aria-current="page" href="#">
                                <button type="button" class=" btn  btn-success text-center rounded-9">
                                    My Tickets
                                </button>
                            </a>
                            <a class="nav-link" href="#">
                                <button type="button" class=" btn btn-success text-center rounded-9">
                                    Deposits
                                </button>
                            </a>
                            <a class="nav-link" href="#">
                                <button type="button" class=" btn btn-success text-center rounded-9">
                                    Withdrawals
                                </button>
                            </a>
                            <a class="nav-link" href="#">
                                <button type="button" class=" btn btn-danger text-center rounded-9">
                                    Logout
                                </button>
                            </a>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class=" row">
                    <div class="col-12 col-md-6">
                        <table class="table bg-success table-borderless text-white rounded-7">
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    {% if user.profile.phone_number %}
                                    <td>{{user.profile.phone_number}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Date Of Birth</td>
                                    {% if user.profile.dob %}
                                    <td>{{user.profile.dob}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if user.profile.city %}
                                    <td>{{user.profile.city}}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}