{% extends 'lottery/base.html' %}{% load crispy_forms_tags %}{% load static %} {% block content %}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class=" text-center">
                    <i class="bi bi-person-circle text-success" style="font-size: 6em;"></i>
                    <div class=" text-center" style="text-align: center !important;">
                        <div class="col-12 pb-4 text-center">
                            <a href="{% url 'initiate-payment' %}" class=" btn btn-success text-center rounded-9">
                                Make Deposit
                            </a>
                        </div>
                        <div class=" col-12 pb-4 text-center">
                            <a href="#withdrawal" class=" btn btn-success text-center rounded-9">
                                Withdrawal
                            </a>
                        </div>
                        <div class=" col-12 pb-4 text-center text-dark ">

                            <a href="{% url 'update_profile' request.user.username %}" class=" btn btn-warning text-center rounded-9">
                                <span class="bi bi-gear text-success pe-2" style="font-size: 1.3em;"></span> Edit Profile
                            </a>
                        </div>
                        <div class=" col-12 text-center">
                            <a href="{% url 'account_logout' %}" class=" btn btn-dark text-center rounded-9">
                                Logout
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class=" row">
                    <div class="col-12 col-md-6 mt-4">
                        <table class="table bg-success table-borderless text-white rounded-7">
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    {% if user.profile.phone_number %}
                                    <td>{{user.profile.phone_number}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Date Of Birth</td>
                                    {% if user.profile.dob %}
                                    <td>{{user.profile.dob}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>State</td>
                                    {% if user.profile.city %}
                                    <td>{{user.profile.city}}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end of firsst row-->

        <div class=" row  py-5">
            <table class="table table-responsive text-success">
                <thead class="" style="color: white; background-color: #006633;">
                    <tr>
                        <th>Ticket Code</th>
                        <th scope="col">Numbers Choices</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Game</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Expected Win</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tickets %} {% for ticket in tickets %}
                    <tr>
                        <td class="result-text">
                            <a href="{% url 'receipt' ticket.id %}">
                                <h6>{{ticket.ticket_code}}</h6>
                            </a>
                        </td>
                        <td class="" style="font-weight: 800 !important;">
                            {% for number in ticket.ticket_pick.ball_numbers.all %}
                            <span class="regular text-center">{{number}}</span> {% endfor %}
                            <span class="special text-center">{{ticket.ticket_pick.special_number}}</span>
                        </td>
                        <td>{{ticket.date}}</td>
                        <td>{{ticket.draw_type}}</td>
                        {% if ticket.bronze or ticket.draw_type == 'bronze' %}
                        <td>&#8358;100</td>
                        {% elif ticket.silver or ticket.draw_type == 'silver' %}
                        <td>&#8358;200</td>
                        {% elif ticket.gold or ticket.draw_type == 'gold' %}
                        <td>&#8358;350</td>
                        {% elif ticket.platinum or ticket.draw_type == 'platinum' %}
                        <td>&#8358;500</td>
                        {% elif ticket.jackpot or ticket.draw_type == 'jackpot' %}
                        <td>&#8358;300</td>
                        {% elif ticket.jackpot or ticket.draw_type == 'megawin' %}
                        <td>&#8358;400</td>
                        {% else %}
                        <td>&#8358;0</td>
                        {% endif %} {% if ticket.draw_type == 'bronze' %}
                        <td>&#8358;100,000</td>
                        {% elif ticket.draw_type == 'silver' %}
                        <td>&#8358;1,000,000</td>
                        {% elif ticket.draw_type == 'gold' %}
                        <td>&#8358;10,000,000</td>
                        {% elif ticket.draw_type == 'platinum' %}
                        <td>&#8358;100,000,000</td>
                        {% elif ticket.draw_type == 'jackpot' %}
                        <td>&#8358;15,000,000</td>
                        {% elif ticket.draw_type == 'megawin' %}
                        <td>&#8358;30,000,000</td>
                        {% else %}
                        <td>&#8358;0</td>
                        {% endif %}
                        <!--checking ticket and winning status -->
                        {% if ticket.draw_type == 'jackpot' and not ticket.jackpot.winning_set and now|date:"YmdHis" < ticket.bronze.enddate|date:"YmdHis" %}
                        <td>...</td>
                        {% elif ticket.draw_type == 'megawin' and not ticket.megawin.winning_set %}
                        <td>...</td>
                        {% elif ticket.draw_type == 'platinum' and not ticket.platinum.winning_set %}
                        <td>...</td>
                        {% elif ticket.draw_type == 'gold' and not ticket.gold.winning_set %}
                        <td>...</td>
                        {% elif ticket.draw_type == 'silver' and not ticket.silver.winning_set %}
                        <td>...</td>
                        {% elif ticket.draw_type == 'bronze' and not ticket.bronze.winning_set  %}
                        <td>...</td>
                        {% elif ticket.correct_count %}
                        <td>WON</td>
                        {% else %}
                        <td>No Winning</td>
                        {% endif %}
                    </tr>
                    {% endfor %} {% else %}
                    <h1>Ticket not available yet</h1>
                    {% endif %}

                </tbody>
            </table>
        </div>

        <div class="text-center border-top border-success pt-2">
            {% if tickets %} 
            {% if tickets.has_previous %}
                <a class="btn btn-danger" href="?page=1">First</a>
                <a class="btn btn-outline-success" href="?page={{ tickets.previous_page_number }}">Previous</a> 
                {% endif %} 
                {% for num in tickets.paginator.page_range %} 
                    {% if tickets.number == num %}
                        <a class="btn btn-success" href="?page={{ num }}">
                            {{ num}}
                        </a> 
            {% elif num > tickets.number|add:'-3' and num < tickets.number|add:'3' %} 
            <a class="btn btn-outline-success" href="?page={{ num }}">{{ num }}</a> 
            {% endif %} 
            {% endfor %} 
            {% if tickets.has_next %}
                <a class="btn btn-outline-success" href="?page={{ tickets.next_page_number }}">Next</a>
                <a class="btn btn-danger" href="?page={{ tickets.paginator.num_pages }}">Last</a> 
            {% endif %} 
            {% endif %}
        </div>

    </div>
</section>

<section class="py-5" id="withdrawal">
    <div class="container">
        <section class="row border border-2 border-success p-4">
            <div class="col-12">
                <h1 class=" pb-4">
                    WITHDRAW FUNDS
                </h1>
                <form action="" method="POST" class="row">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-6 col-md-4">
                            {{ w_form.select_bank|as_crispy_field }}
                        </div>
                        <div class="form-group col-6 col-md-4">
                            {{ w_form.account_number|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-md-4">
                            {{ w_form.withdraw_amount|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 pt-3">
                            {{ w_form.agreement|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 pt-5">
                            <input type="submit" class=" btn btn-lg btn-success" value="REQUEST">
                        </div>
                    </div>

                </form>
            </div>
        </section>
    </div>
</section>

{% endblock %}