{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load i18n %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}



<div class="container py-5">
    <div class="row shadow p-3 rounded-7">
        <div class="offset-md-2 col-12 col-md-8">
            <div class="py-4">
                <div class="text-center">
                    <h1>{% trans "Fill In Your Details To Register" %}</h1>
                    <p class="muted">
                        Join Million other Nigerians around the globe in wimming massive gifts and prizes.
                    </p>
                </div>
                <br />
                <form class="signup" id="signup_form" method="post" enctype="multipart/form-data" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.phoneNumber|as_crispy_field }}
                        </div>
                        <div class="form-group col-4 col-md-4">
                            {{ form.city|as_crispy_field }}
                        </div>
                        <div class="form-group col-4">
                            {{ form.gender|as_crispy_field }}
                        </div>
                        <div class="form-group col-4 col-md-4">
                            {{ form.dob|as_crispy_field }}
                        </div>
                        <div class="form-group col-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.password2|as_crispy_field }}
                        </div>

                    </div>
                    <div class="pt-4 text-center">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                        <button class="btn btn-success rounded-pill btn-lg" type="submit">
                            {% trans "Create Account" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}